---
title: Test Results
description: rofl!
date: 2006-06-03
tags: [off-site]
archive:
  site: thesid.net
  url: https://web.archive.org/web/20090605053152/http://www.siddharthabbineni.com/off-site/test-results.html
---

[![I am nerdier than 95% of all people. Are you nerdier? Click here to find out!](/blog/test-results/57694ff57aff.gif)](http://www.nerdtests.com/ft_nq.php?im)  
[  
![I am 62% loser. What about you? Click here to find out!](/blog/test-results/5314e05d9a7c.gif)](http://www.nerdtests.com/ft_loser.php?im)  
[  
![I am going to die at 69. When are you? Click here to find out!](/blog/test-results/951e72d04e68.gif)](http://www.nerdtests.com/ft_dead.php?im)  
[  
![My computer geek score is greater than 78% of all people in the world! How do you compare? Click here to find out!](/blog/test-results/3f1218f8afcd.jpg)](http://www.nerdtests.com/ft_cg.php?im)  
[  
![The Stupid Quiz said I am "Pretty Smart!" How stupid are you? Click here to find out!](/blog/test-results/43cb749026d6.gif)](http://www.nerdtests.com/ft_stupid.php?im)  
[*\[image lost: Click here to play Make-A-Word word game, and TRY to score better!\]*](http://www.nerdtests.com/ft_maw.php?im)  
rofl!
